
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */
header {
  position: sticky;
  background-color: rgb(5, 5, 80);
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  width: 100vw;
}

.logo img {
  height: 250px;
  margin-left: 10px;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation li {
  font-size: 20px;
  margin-right: 10px;
}

.navigation li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.profile-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-section h2 {
  color: #333333;
  margin-bottom: 20px;
}

.book-grid {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  gap: 20px;
  padding: 10px; 
  justify-content: flex-start; /* Start from the left */
}

.book {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 250px; /* Ensuring each book has a minimum width */
}

.book img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.book h3 {
  color: #333333;
  margin: 0;
}

/*Edit button */
.edit-btn {
  margin-right: 10px;
  background-color: #007f3b; 
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #00b24c;
}


/*Delete button */
.delete-btn {
  background-color: #007f3b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff0000; 
}


footer {
  border: none;
  color: #ccc;
  background-color: rgb(5, 5, 80);
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 14px;
}
